/* Hace que el desplazamiento sea suave al hacer clic en el menú */
html {
    scroll-behavior: smooth;
}

/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

/* Menú de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: RED;
    font-weight: bold;
}

nav a:hover {
    color: darkorange;
}

/* Secciones */
section {
    padding: 40px 20px;
}

/* Pie de página */
footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}
